.custom-table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #081e36; /* Adding border to the entire table */
  border-radius: 6px; /* Adding border radius to the table */
}

.table-header-row {
  background-color: #a3c3e75c;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid #081e36; /* Adding bottom border to header */
  font-size: 18px; /* Increasing font size */
  margin: 0px !important;
  width: 100% !important;
}

.table-header {
  padding: 12px !important; 
  font-weight: bold;
  text-align: left;

}

.centered-header {
  text-align: center;
}

.table-body {
  width: 100% !important;
  overflow-y: auto;
}

.table-row {
  border-bottom: 1px solid #ddd;
}

.table-cell {
  padding: 12px; /* Increased padding for cells */
  font-size: 18px !important; /* Increased font size for table cells */
  padding: 20px !important;
  font-weight: 500;
}

.centered-cell {
  text-align: center;
}

.table-actions {
  display: flex;
  gap: 8px;
}

.status-button {
  width: 100%;
}

.menu-item {
  width: 150px; /* Fixed width for MenuItem */
  text-align: center; /* Center-align text in MenuItem */
}

