.customer-details-container {
    margin-top: 5%;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .header-title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .add-customer-button {
    /* Add padding and adjust width if needed */
  }
  
  .customer-card {
    padding: 16px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;
  }
  
  .edit-button {
    color: #1976d2; /* Blue color for Edit button */
  }
  
  .delete-button {
    color: #d32f2f; /* Red color for Delete button */
    margin-left: 8px; /* Space between Edit and Delete buttons */
  }
  
  /* Tooltip styles */
  .MuiTooltip-tooltip {
    font-size: 0.75rem; /* Adjust font size if needed */
  }
  