.custom-button{
    border-radius: 90px !important;
}
.custom-button:hover {
    background: linear-gradient(94.39deg, #081e36 50%, #5094E7 103.69%) !important;
    color: white !important;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.view-reports-button,.add-service-button,.add-plan-button,.add-customer-button,.save-button{
    width: auto;
    border-radius: 90px;
    padding: 10px 20px;
    font-size: 14px !important;
}
/* button for using modals */
/* .custom-modal-btn{
    width: auto;
    border-radius: 90px;
    padding: 10px 20px;
    font-size: 14px !important;
} */