/* Loader.css */
.loader {
    border: 15px solid #081e36; /* Deep blue color */
    border-top: 15px solid rgb(159, 70, 0); /* Reddish-brown color */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
