/* Container for the entire PlanList component */
.plan-list-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  
  /* Container for the header section */
  .header-container {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Title of the header */
  .header-title {
    margin-bottom: 16px;
  }
  
  /* Button for adding a new plan */
  .add-plan-button {
    width: auto;
  }
  
  /* Modal container */
  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 16px;
    border-radius: 8px;
    position: relative;
  }
  
  /* Close button style */
  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  
  /* Modal header styling */
  .modal-header {
    border-bottom: 2px solid #000;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
  
  /* Container for the form inside the modal */
  .form-container {
    margin-bottom: 16px;
  }
  
  /* Label for the services section */
  .service-label {
    margin-bottom: 16px;
  }
  
  /* Actions container in the modal */
  .modal-actions {
    display: flex;
    gap: 8px;
    margin-top: 16px;
  }
  
  /* Button for saving changes */
  .save-button {
    margin-right: 8px;
  }
  
  /* Button for canceling */
  .cancel-button {
    margin-left: 8px;
  }
  