:root {
  --apache: #d9b165;
  --firefly: #0d1e34;
  --cello: #1c395d;
  --astronaut: #2a5279;
  --flint: #6b6559;
  --kabul: #564c3e;
  --limed-spruce: #313d46;
  --regent-gray: #8294a2;
  --hoki: #6684a4;
  --hawaiian-tan: #915c16;
}
body {
  background-color: var(--firefly);
  color: var(--apache);
}

header {
  background-color: var(--cello);
  border-bottom: 2px solid var(--astronaut);
}

nav {
  background-color: var(--flint);
}

nav a {
  color: var(--limed-spruce);
}

footer {
  background-color: var(--kabul);
  color: var(--regent-gray);
}

button {
  background-color: var(--hoki);
  color: var(--hawaiian-tan);
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  max-width: 700px;
  margin-top: 5%;
}

/* App.css */
.loader-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Fixes the position to overlay the entire viewport */
  top: 0;
  left: 0;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  z-index: 1000; /* Ensures the overlay appears above all other content */
}

